#amenities {
    height: 100%;
  }
  
  .amenities-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .amenities-item li {
    box-sizing: border-box;
    width: 50%;
    height: 50px;
    margin-right: auto;
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .amenities-item li {
    display: flex;
    align-items: center;
  }
  
  .amenities-item li img {
    margin-left: 0;
    margin-right: 16px;
    width: 24px;
    height: 24px;
  }
  