.reservation-form {
  border-radius: 10px;
  border: 1px solid #EBEBEB;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  padding: 20px;
  margin-top: 650px;
  margin-bottom: 20px;
  margin-right: 110px;
  height: 65%;
  width: 25%;
  display: sticky;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  
  }

  #booking-info {

    margin-right: 400px;
    text-align: right; 
    display: flex;
    justify-content: space-between;

  }

  .booking-info span:first-child {
    flex-grow: 1;
  }

  .price {
    font-weight: bold; 
    text-align: left; 
    margin-right: 10px;
  }

 
  .reserve-button {
    height: 40px;
    color: white;
    background-image: radial-gradient(circle at center center, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%);
    text-align: center;
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
  }
  
  .charge-info {
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 12px;
    text-align: center;
  }
  
  .price-details {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    font-size: 12px;
  }
  
  .total:before {
    border-top: 1px solid #EBEBEB;
    padding-top: 10px;
    font-weight: 500;
    font-size: 12px;
  }

  .guests-container {
    display: flex;
    align-items: center;
    border: 1px lightgray solid;
    flex-direction: row;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 94.5%;
    margin-left: 10px;
  }
  
  .guests-dropdown {
    position: absolute;
    background-color: white;
    transform: translateY(-110%);
    width: 100%;
    max-width: 70%;
    height: 35%;
    z-index: 1;
    border: 1px solid #EBEBEB;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
    border-radius: 10px;
    
  }

  #guests-info {

    font-weight: bold;
    margin-left: 200px;
    height: 80%;

  }

  #guests-title-wrapper {

    font-weight: bold;
    height: 80%;
    margin-left: 20px;

  }
  
  .guest-type {
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  
  .guest-type h4 {
    padding-bottom: 3px;
    margin-left: 10px;
    font-size: 10px;
  }
  
  .guest-count {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-around;
    font-size: 12px;
  }
  
  .guest-count button {
    border: 1px solid #727272;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 10px;
  }
  
  .guest-count button:disabled {
    color: #dddddd;
    border: 1px solid #dddddd;
    cursor: default;
  }
  
  .close-button {
    text-decoration: underline;
    font-size: 12px;
  }
  
  .amenities-reservation-container {
    display: flex;
    justify-content: space-between;
  }
  
  #amenities {
    width: 50%;
    font-size: 12px;
  }
  
  .listing-show-reservation {
    width: 80%;
  }
  
  .date-picker-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .date-picker-wrapper {
    display: flex;
    align-items: center;
    border: 1px lightgray solid;
    flex-direction: row;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 93%;
  }
  

  #title-wrapper {
    display: flex;
    justify-content: space-around; 
  }

  .guests-title-wrapper {
    display: flex;
    justify-content: space-around;
   

  }
  
  .title {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .checkout {
    margin-top: 20px;
  }
  
  .react-dates-wrapper {
    margin-left: 20px;
  }

  .break {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 20px 0;
    margin-left: 100px;
    margin-right: 100px;
  }

  .list-container {
    width: 90%;  
  }
  
  .inner-list, .booking-info {
    margin-right: 200px;
    display: flex;
  align-items: center;
  padding-left: 7.5px;
  }

  .price-no-wrap {
    white-space: nowrap; 
    font-weight: bold; 
    text-align: left; 
    margin-right: 20px;
    font-size: 25px
  
  }

  .price-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; 
  }

  .detail {
    font-size: 18px;
    font-weight: normal;
  }
  
  .detail, .total {
    display: flex;
    justify-content: space-between;
    width: 100%; 
    font-size: 18px;
    font-weight: bold;
  }

  .label {
    font-weight: normal;
    text-decoration: underline;
  }

  .label-total {
    font-weight: bold;
    text-decoration: underline;
  }
  
  .listing-price-value {
    font-weight: normal;
  }

  .cleaning-fee-value {
    font-weight: normal;
  }

  .service-fee-value {
    font-weight: normal;
  }

  .total-value {
    font-weight: bold;
  }


  


  
  
  
  
  