.featured-listings-ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    list-style: none;
    padding: 0;
  }
  
  .listing-index-item {
    width: calc(80.33% - 20px);
    margin-bottom: 20px;
  }
  
  .listing-index-item .listing-index-item-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .listing-index-item .listing-text {
    margin-top: 10px;
    text-align: center;
    color: black;
  }
  
  