.logged-out-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  width: 140px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.logged-out-links li {
  padding: 4px; /* Adjust the padding as needed */
  width: 160px; /* Adjust the width as needed */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px; /* Adjust the font size as needed */
}

.logged-out-links li:hover {
  background-color: transparent;
  cursor: pointer;
}

.logged-out-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#trips.dropdown-menu-option {
  text-decoration: none;
}

#logout {
  cursor: pointer;
  color: #333;
  text-align: center;
  display: flex;
  text-align: center;
}

.dropdown-button {
  padding: 10px;
  display: flex;
  position: absolute;
  top: 20px;
  right: 45px;
  border: 1px solid;
  border-radius: 25px;
  height: 20px;
  width: 60px;
  align-items: center;
  justify-content: center;
  background-color: white;
}
